/* 전체 배경 */
body {
  /* background : 배경 관련 축약 속성 */
  background: pink;
  background: rgb(255, 140, 30);
  background: rgba(20, 40, 200, 0.6); /* a : 투명도(0~1)*/
  background: hsl(120, 50%, 50%);
  background: hsla(120, 50%, 50%, 0.4);
  background: #dddddd;
}

#div-bg {
  background: white;
  width: 50%; /* 부모 요소 너비의 50% 만큼으로 지정*/
}

/* 배경 적용 범위 조정 */
.div-test {
  background-color: skyblue;
  padding: 20px;
  margin: 5px;
  width: 20%;
  border: 5px dashed black;
  float: left;
}

#div1 {
  background-clip: border-box;
}

#div2 {
  background-clip: padding-box;
}

#div3 {
  background-clip: content-box;
}

.clear-float {
  clear: both;
}


#bg-img{
  width: 70%;
  height: 1600px;
  background-image: url("../images/river2.PNG");
  border: 4px solid red;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-size: auto;

  background-attachment: fixed;
  background-attachment: scroll;

  background-position: center;




}
